html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.tab {
  margin: 50px auto;
  max-width: 500px;
}
.tab-list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.tab-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tab-list::-webkit-scrollbar {
  display: none;
}
.tab-item {
  cursor: pointer;
  padding: 10px 15px;
  white-space: nowrap;
  border-bottom: 1px solid #eee;
}
.tab-item.active {
  border-bottom-color: #6a5af9;
}
