html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.header {
  background-color: white;
  padding: 25px;
  transition: all 0.2s linear;
}
.header.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  animation: fade 0.25s forwards 1;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner {
  width: 100%;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1448376561459-dbe8868fa34c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")
    no-repeat center / cover;
}
.content {
  height: 200vh;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-item {
  margin: 0 25px;
}
.menu-link {
  color: #333;
  font-weight: 300;
  display: block;
}
