html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.sweet-alert {
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: inline-flex;
  align-items: center;
  transform: translateX(150%);
  transition: transform 0.25s linear;
  animation: sweet 2s linear 1;
}
.sweet-icon {
  width: 40px;
  height: 40px;
  background-color: #07a787;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-right: 20px;
  flex-shrink: 0;
}
.sweet-text {
  font-weight: 300;
  line-height: 1.4;
}
@keyframes sweet {
  20%,
  100% {
    transform: translateX(0);
  }
}
